/* Write your CSS here */
.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.delete-btn {
  height: 30px;
  width: 60px;
  margin: 20px;
  color: #ff0b37;
  border: 2px solid #ff0b37;
  border-radius: 5px;
}
.title{
  font-weight: 400;
}